*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  scroll-behavior:  smooth;
  background-color: lightcyan;
}
::-webkit-scrollbar{
  display: none;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
h1{
  color: black;
  top: 10px;
  text-align: center;
  width: 100vw;
}
.active{
  font-size: x-large;
  color: green;
  border: 2px solid black;
  border-radius: 5px;
}
span{
  padding: 1rem;
  border: 1.5px solid rgba(128, 128, 128, 0.452);
  margin: 0.2rem;
  border-radius: 2px;
}
.todos-container{
  padding: 2rem;
}
p{
  background-color:aliceblue;
  color: #22C55E;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 2rem;
  border-radius: 0.7rem;
  font-size: x-large;
}
.selector{
  display: flex;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 10px 10px 10px rgba(83, 80, 80, 0.575);
  justify-content: end;
  margin-top: 2rem;
  margin-inline: 3rem;
}
.page_no{
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-inline: 2rem;
  justify-content: space-evenly;
}
@media screen and (max-width: 400px) {
 body{
  font-size: xx-small;
 }
 h1{
  text-decoration: underline;
  margin-top: 1rem;
 }
 .selector{
  padding: 0.6rem;
  margin-inline: 0.8rem;
 }
}